@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  transition: all 0.16s ease-in-out;
}

body {
  color: black;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--foreground-rgb))
    )
    rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.menu-container {
  width: 90%;
  height: 90%;
  margin: 40px;
}
.three-container {
  height: 300px;
  width: 250px;
  margin: 0 auto;
}
.options-container {
  max-width: fit-content;
  margin: 0 auto;
}
.options-container button {
  cursor: pointer;
}
